<div class="flex-row justify-space-between align-center">
    <h1>Approval Queue: {{username}}</h1>
 
</div>

{{#each absence}}
<article class="card">


    <div class="card-header flex-row justify-space-between align-center">
        <div class="data-item-med">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
        </div>
        <div class="data-item-long">
            <h1 >{{date_correct start_date}} - {{date_correct end_date}}</h1>
        </div>
        <div class="data-item-med">
            <h1>{{leave.leave_type}}</h1>
        </div>
        <div class="data-item-med">
            <h1>{{absence_hours}} hours</h1>
        </div>
        <div class="data-item-med">
            <button id="approve-btn" class="btn" data-record="{{id}}">Approve</button>
            <button id="deny-btn" class="btn" data-record="{{id}}">Deny</button>
        </div>
        
        
    </div>


</article>


{{/each}}

{{#if absence}}
<script src="/javascript/absence-approval.js"></script>
{{/if}}