<div class="flex-row justify-space-between justify-center">
    <h1 class="page-title">Dashboard: {{username}}</h1>
</div>

<div class="flex-row justify-center">
    <button class="btn green-text" id="new-absence-btn"><i class="uil uil-plus-circle"></i> Create New Absence</button>
</div>

<div id="absences-holder" class="flex-row justify-center">

    <table class="width-100">
        <tr>
            <th class="text-left"><h2>Absence Dates</h2></th>
            <th class="text-left"><h2>Leave Type</h2></th>
            <th><h2>Absence Hours</h2></th>
            <th class="text-left"><h2>Status</h2></th>
            <th><h2>Delete</h2></th>
            <th><h2>Edit</h2></th>
        </tr>

        {{#each absence}}
        <tr>      
            <td><h2>{{format_date start_date}} - {{format_date end_date}}</h2></td>
            <td><h2>{{leave.leave_type}}</h2></td>
            <td class="text-center"><h2>{{absence_hours}}</h2></td>
            <td><h2>{{status}}</h2></td>
            <td class="btn-column">
                <button id="delete-btn" class="btn red-text btn-table"
                data-record="{{id}}"
                data-user-id="{{user_id}}"
                data-start-date="{{start_date}}"
                data-end-date="{{end_date}}"
                data-leave-type="{{leave.leave_type}}"
                data-absence-hours="{{absence_hours}}"
                data-approver-email="{{user.approver.email}}">
                <i class="uil uil-trash-alt"></i> Delete Absence</button>
            </td>
            <td class="btn-column">
                <button id="edit-btn" class="btn blue-text btn-table" data-record="{{id}}"><i class="uil uil-pen"></i> Edit Absence</button>
            </td>
        </tr>
        {{/each}}


    </table>



</div>



{{#if absence}}
<script src="/javascript/change-absence.js"></script>
{{/if}}
<script src="/javascript/new-absence.js"></script>
