<div class="flex-row justify-space-between align-center">
    <h1>Dashboard: {{username}}</h1>
    <button class="save-btn btn" id="new-absence-btn">Create New Absence</button>
</div>

{{#each absence}}
<article class="card">


    <div class="card-header flex-row justify-space-between align-center">
        <div>
            <h1>{{format_date start_date}} - {{format_date end_date}}</h1>
            <h4>Created {{format_date created_at}}, last updated {{ format_date updated_at}}</h4>
            </a>
        </div>
        <div class="data-item">
            <h1>{{leave.leave_type}}</h1>
        </div>
        <div class="data-item">
            <h1>{{absence_hours}} hours</h1>
        </div>
        <div class="data-item">
            <h1>{{status}}</h1>
        </div>
        
        
        <a class="btn" href="/dashboard/edit-absence/{{id}}"><h3 class="text-center">Edit Absence</h3></a>
        
    </div>


</article>


{{/each}}

<script src="/javascript/edit-absence.js"></script>
<script src="/javascript/new-absence.js"></script>