<div class="flex-row justify-space-between align-center">
    <h1>Dashboard: {{username}}</h1>
    <button class="save-btn btn" id="new-absence-btn">Create New Absence</button>
</div>

<div id="absences-holder">

    {{#each absence}}
    <article class="card">


        <div class="card-header flex-row justify-space-between align-center">
            <div>
                <h1>{{date_correct start_date}} - {{date_correct end_date}}</h1>
                <h4>Created {{format_date created_at}}, last updated {{format_date updated_at}}</h4>
                </a>
            </div>
            <div class="data-item-med">
                <h1>{{leave.leave_type}}</h1>
            </div>
            <div class="data-item-med">
                <h1>{{absence_hours}} hours</h1>
            </div>
            <div class="data-item-med">
                <h1>{{status}}</h1>
            </div class="data-item-med">
            
            <button id="delete-btn" class="btn" data-record="{{id}}">Delete Absence</button>
            <button id="edit-btn" class="btn" data-record="{{id}}">Edit Absence</button>
        </div>


    </article>


    {{/each}}

</div>



{{#if absence}}
<script src="/javascript/change-absence.js"></script>
{{/if}}
<script src="/javascript/new-absence.js"></script>
