<div class="flex-row justify-space-between align-center">
    <h1>Dashboard: {{username}}</h1>
    <button class="save-btn btn" id="create-post-btn">Create New Absence</button>
</div>

{{#each absence}}
<article class="card">


    <div class="card-header flex-row justify-space-between align-center">
        <div>
            {{!-- <a href="/posts/{{id}}"> --}}
            <h1>{{format_date start_date}} - {{format_date end_date}}</h1>
            <h4>Created {{format_date created_at}}, last updated {{ format_date updated_at}}</h4>
            </a>
        </div>
        <div>
            <h1>{{leave.leave_type}}</h1>
        </div>
        <div>
            <h1>{{absence_hours}} hours</h1>
        </div>
        <div>
            <h1>{{status}}</h1>
        </div>
        
        
        <a href="/dashboard/edit/{{id}}"><h1 class="edit-link">Edit Post</h1></a>
        
    </div>


</article>


{{/each}}

<script src="/javascript/edit-absence.js"></script>