<form class="edit-absence-form">
    <div>
        <label for="edit-start-date" class="form-label">Edit Start Date:</label>
        <input id="edit-start-date" type="date" value="{{absence.start_date}}">
    </div>
    <div>
        <label for="edit-end-date" class="form-label">Edit End Date:</label>
        <input id="edit-end-date" type="date" value="{{absence.end_date}}">
    </div>

    <div>
        <label for="edit-leave" class="form-label">Edit Leave Type:</label>
        <select id="edit-leave">
            <option value="">----please select a leave type----</option>
            {{#each leave_options}}
            <option value="{{id}}">{{leave_type}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="edit-hours" class="form-label">Edit Absence Hours:</label>
        <input id="edit-hours" type="number" step=".01" value="{{absence.absence_hours}}">
    </div>

    <div class="flex-row justify-space-around">
        <button type="submit" id="save-changes-btn" class="btn">Save Changes</button>
        <a href="/dashboard" id="cancel" class="btn text-center">Cancel</a>
    </div>
</form>

<script src="/javascript/edit-absence.js"></script>