   
<div class="flex-row justify-center">
    <div class="card login-signup">
        <div class="card-header form-item"><h3>Log In</h3></div>
            <div class="card-body flex-column align-center">
                <form class="login-form">
                    <div class="form-item">
                        <label for="email-login" class="form-label">email:</label>
                        <input type="text" id="email-login" class="form-input"/>
                    </div>
                    <div class="form-item">
                        <label for="password-login" class="form-label">password:</label>
                        <input type="password" id="password-login" class="form-input"/>
                    </div>
          
                        <button type="submit" class="btn width-100">Log In</button>
              
                </form>
            </div>
    </div>{{!--end card--}}
    <div class="card login-signup">
        <div class="card-header form-item"><h3>Create Your Profile</h3></div>
            <div class="card-body flex-column align-center">
                <form class="signup-form">
                    <div class="form-item">
                        <label for="first_name-signup" class="form-label">* first name:</label>
                        <input type="text" id="first_name-signup" class="form-input"/>
                    </div>
                    <div class="form-item">
                        <label for="last_name-signup" class="form-label">* last name:</label>
                        <input type="text" id="last_name-signup" class="form-input"/>
                    </div>
                      <div class="form-item">
                        <label for="email-signup" class="form-label">* email:</label>
                        <input type="text" id="email-signup" class="form-input"/>
                    </div>
                    <div class="form-item">
                        <label for="password-signup" class="form-label">* password:</label>
                        <input type="password" id="password-signup" class="form-input"/>
                    </div>
                    <div class="form-item">
                        <label for="my-department-signup" class="form-label">* select your department:</label>
                        <select id="my-department-signup" class="form-input">
                            <option value="">----please select your department----</option>
                            {{#each department_options}}
                            <option value="{{id}}">{{id}} {{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="my-approver-signup" class="form-label">* select your approver:</label>
                        <select id="my-approver-signup" class="form-input">
                            <option value="">----please select your approver----</option>
                            {{#each approver_options}}
                            <option value="{{id}}">{{last_name}}, {{first_name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="is-approver-signup" class="form-label">are you an absence approver?:</label>
                        <select id="is-approver-signup" class="form-input">
                            <option value="">----choose one----</option>
                            <option value="0">no</option>
                            <option value="1">yes</option>
                        </select>
                    </div>
                    
                  
                 
                        <button type="submit" class="btn width-100">Create Profile</button>
                  
                </form>
            </div>
    </div>{{!--end card--}}
</div>{{!--end flex-row--}}



<script src="/javascript/login.js"></script>