<form class="new-absence-form">
    <div>
        <label for="new-start-date" class="form-label">Absence Start Date:</label>
        <input id="new-start-date" type="date" value="{{absence.start_date}}">
    </div>
    <div>
        <label for="new-end-date" class="form-label">Absence End Date:</label>
        <input id="new-end-date" type="date" value="{{absence.end_date}}">
    </div>

    <div>
        <label for="new-leave" class="form-label">Select Leave Type:</label>
        <select id="new-leave">
            <option value="">----please select a leave type----</option>
            {{#each leave_options}}
            <option value="{{id}}">{{leave_type}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label for="new-hours" class="form-label">Enter Absence Hours:</label>
        <input id="new-hours" type="number" step=".01" value="{{absence.absence_hours}}">
    </div>

    <div class="flex-row justify-space-around">
        <button type="submit" id="save-new-btn" class="btn">Save Absence</button>
        <a href="/dashboard" id="cancel" class="btn text-center">Cancel</a>
    </div>
</form>

<script src="/javascript/save-new-absence.js"></script>