<div class="flex-column align-center">
    <div class="card width-75">
        <div class="card-header"><h1>My Profile</h1></div>
            <div class="card-body ">
             
            <div class="flex-row justify-space-around">
                <div>
                    <h1>First Name: {{profile.first_name}}</h1>
                    <h1>Last Name: {{profile.last_name}}</h1>
                    <h1>Email: {{profile.email}}</h1>
                </div>
                <div>
                    <h1>Department: {{profile.department.name}}</h1>
                    <h1>Approver Status: {{is_approver}}</h1>
                    <h1>My Approver: {{profile.approver.first_name}} {{profile.approver.last_name}}</h1>
                </div>        
            </div>
        </div>
    </div> {{!--end card--}}

    <div class="card width-75">
        <div class="card-header"><h1>My Employees</h1></div>
            <div class="card-body ">
                <div class="flex-column">
               
                        {{#each employees}}
                        <div class="flex-row">
                            <h1 >{{last_name}}, {{first_name}}</h1>

                            
                            <h1 >{{department.name}}</h1>
                        </div>
                        {{/each}}
                  
                </div>

            </div>
        </div>
    </div>




</div>








    






{{!-- <script src="/javascript/update-profile.js"></script> --}}